body {
  font-family: Arial;
  background: #f2f2f2;
  text-align: center;
  padding: 40px;
}

.game-list a {
  display: block;
  padding: 15px;
  margin: 10px;
  background: white;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.game-list a:hover {
  background: #e6e6e6;
}